* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    width: 100%;
}

.top-logo {
    width: 50%;
}

.call {
    display: flex;
    flex-direction: column;




}

.call h2 {

    color: rgb(153, 4, 4);
    gap: 5px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.under-line {
    background-color: black;
    height: 3px;
    width: 100%;
}

.call h1 {
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    letter-spacing: 0;
}

.call h5 {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: url(responsive_menu_icon.png);
    background-color: rgb(153, 4, 4);
    background-size: contain;
    width: 100%;
    height: 50px;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;

}

ul li {
    list-style-type: none;
}

ul img {
    display: none;
    height: 100%;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 25px;

}

ul li a:hover {
    background-color: gray;
    padding: 16px;
}

/* mian is start in which we have two banneres */
main {
    padding-top: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
}

/* the first one is img */
main img {
    width: 50%;
}

/* the sec one is a poster having div class "poster" */
.poster {
    width: 49%;
    background-image: url(images/form_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.poster-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.poster-top h1 {
    background-color: rgb(153, 4, 4);
    font-size: 40px;
    color: white;

}

.poster-top h4 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.poster-top h4 b {
    font-size: 39px;
    color: rgb(38, 80, 107);
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding-top: 10px;

}

.info input {
    width: 200px;
    height: 20px;
}

.info label {
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

.name img {
    transform: rotate(12deg);
    width: 175px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.poster textarea {
    resize: none;
    width: 85%;
    margin-left: 20px;
    margin-top: 10px;
    height: 15%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-left: 10px;
    padding-top: 10px;

}

.privacy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;

    padding-right: 30px;
    padding-top: 20px;
    gap: 5px;
}

.privacy p {

    font-size: 20px;
    color: gray;

}

.privacy button {
    font-size: 18px;
    padding: 12px;
    background-color: rgb(153, 4, 4);
    color: white;
    border: none;
    width: 45%;
}

.poster-button {
    width: 10px;
    height: 10px;
}


.container1 {
    padding-top: 20px;
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    width: 99%;
}

.container1-item1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item1-p {
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
}

.item1-p p {
    font-size: 20px;
}

#img-p-board {
    width: 100px;

}

.button {
    margin-left: 110px;
    padding-left: 25px;
    border-top: 1px solid black;
}

button {
    width: 140px;
    font-size: 20px;
    color: white;
    border: none;
    background-color: rgb(161, 8, 8);


}

.container1-item1 h1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, ;
    font-size: 700;
}

.container1-item1 h1 b {
    color: rgb(161, 8, 8);
}

.container1-item1 h4 {
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 8, 8);
}

.container1-item2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    /* padding: 20px; */
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container1-item2-top {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.item2-p {
    display: flex;
    justify-content: space-between;
}

.item2-p p {
    font-size: 20px;
}

.button2 {
    width: 50%;
    margin-top: -20px;
    margin-right: 110px;
    padding-left: 20px;
    border-top: 1px solid black;

}

.container1-item2-top h1 {
    font-family: 'Courier New', Courier, ;
    font-size: 600;
    font-size: 30px;
}

.pic1-order-icon {
    width: 160px;
}

.container1-item2-top h1 b {
    color: rgb(161, 8, 8);
}

.container1-item2-bottom h1 {
    font-family: 'Courier New', Courier, ;
    font-size: 600;
    font-size: 30px;
}

.container1-item2-bottom h1 b {
    color: rgb(161, 8, 8);
}

.item2-bottom-p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.container1-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.container1-item3-pics {
    display: flex;
    gap: 30px;
}

.container1-item3 h1 {
    font-size: 26px;
}

.container1-item3 h1 b {
    color: rgb(161, 8, 8);
}

.container1-item3 p {
    font-size: 20px;
}







.container2 {
    display: flex;
    width: 100%;
}

.container2-item-left {
    width: 25%;
    padding: 10px;

}

.container2-item-left b {
    color: rgb(128, 13, 13);
}

.c2-i1 {
    display: flex;
    height: 75px;
    width: 350px;

}

.c2-i1 button {
    font-size: 15px;
    align-self: flex-end;
    background-color: gray;
    margin-top: 10px;
}

.c2-i1 img {
    width: 10px;



}

.c2-i1-chiald {
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    width: 80%;
}

.c2-i1-chiald button {
    font-weight: 600;
    display: flex;
}

.c2-i1-chiald button img {
    padding-left: 5px;
}

.item1-margin {
    margin-left: 20px;
}

#h2 {
    font-size: 27px;
}

.MAH {
    display: flex;
}

.MAH h1 {

    color: rgb(187, 186, 186);
    padding-left: 170px;
}

.container2-item-mid {
    width: 49%;
    padding: 10px;
}

.container2-item-mid p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container2-item-right {
    width: 24%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;

}

.container2-item-right h1 b {
    color: rgb(128, 13, 13);
    font-size: 30px;
}

.container2-item-right p {
    font-size: 20px;
    letter-spacing: 1px;
}

.container2-item-right-1 {
    display: flex;
    justify-content: center;
    border-top: 3px solid #000;
    width: 80%;
}

.images-bottom {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding-right: 90px;
}

/* .images-bottom img{
    width: 200px;
    
    
} */
.last-div img {
    width: 50px;
}

.last-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.avo_rating_large {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.images-bottom h2 {
    font-size: 35px;
}

.images-bottom h2 b {
    color: rgb(128, 13, 13);
}

.hr-shadow {
    background-color: #5f5f5f;
    width: 220px;
    height: 3px;
    /* display: flex;
    justify-content: end; */
}

/* .hr-shadow img{
    width: 250px;
    height: 5px;
} */
.footer {
    background-color: rgb(128, 13, 13);
    width: 100%;
    height: 20px;
    margin-top: 10px;
}

.avo_rating_large {
    display: flex;
    flex-direction: column;
}



@media screen and (max-width: 1122px) {
    .call h2 {
        font-size: 30px;
    }

    .under-line {
        height: 2px;
        width: 85%;
    }

    .call h1 {
        font-size: 60px;
    }

    .call h5 {
        font-size: 22px;
    }

    main {
        justify-content: space-around;
    }

    main img {
        width: 48%;
    }

    .name img {
        padding: 0;
        width: 150px;
        transform: rotate(20deg);
    }

    .poster-top h4 b {
        font-size: 25px;
    }

    .poster-top h1 {
        font-size: 30px;
    }

    .info input {
        width: 150px;
    }

    .privacy button {
        font-size: 14px;
        padding: 9px;
    }

    .poster textarea {
        height: 12%;
        font-size: 13px;
        font-family: none;
        font-weight: 400;
    }

    .privacy p {
        font-size: 16px;
    }

    .container1 {
        flex-wrap: wrap;
    }

    .container1-item1 {
        width: 40%;
    }

    #img-p-board {
        width: 90px;
        height: 140px;
    }

    .container1-item2 {
        width: 40%;
        border-right: none;
    }

    .container1-item3 {
        width: 100%;
    }

    .container1-item3-pics {
        padding-left: 0;
        padding-top: 48px;
    }

    .container2 {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container2-item-left {
        width: 35%;
    }

    .container2-item-right {
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        gap: 110px;
        padding: 30px;
        width: auto;
        /* padding-left: 130px; */
        /* flex-wrap: wrap; */
    }

    .images-bottom {
        display: flex;
        /* flex-direction:row; */
        align-items: center;
        gap: 10px;
        padding-right: 30px;
    }

    .avo_rating_large {
        display: flex;
        flex-direction: row;
    }

    .avo_rating_large img {
        width: 150px;
    }



}

@media screen and (max-width: 880px) {
    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        width: 100%;
    }

    .top-logo {
        width: 50%;
    }

    .call h2 {
        font-size: 23px;
    }

    .call h1 {
        font-size: 48px;
    }

    .call h5 {
        font-size: 16px;
    }

    /* nav */
    ul li a {
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: 1px;
        padding-right: 32px;
    }

    /* main */
    main {
        flex-wrap: wrap;
        width: 100%;
    }

    nav ul {
        gap: 10px
    }

    main img {
        width: 99%;
    }

    .poster {
        width: auto;
    }

    .poster-top h1 {
        font-size: 45px;
    }

    .poster-top h4 {
        font-size: 28px;
        padding: 0;
    }

    .poster-top h4 b {
        font-size: 41px;
        font-weight: 700;
    }

    .text p {
        font-size: 23px;
    }

    .poster textarea {
        height: 15%;
        font-size: 20px;
    }

    .privacy p {
        font-size: 23px;
    }

    .privacy button {
        font-size: 20px;
        padding: 9px;
    }

    .info label {
        font-size: 20px;
        font-weight: 500;
    }

    .info input {
        width: 150px;
        height: 27px;
    }

    .container2-item-right {
        flex-wrap: wrap;
        display: flex;
        padding: 31px;
        align-items: center;
        gap: 68px;
        justify-content: space-around;
        width: 100%;
    }

}

@media screen and (max-width: 820px) {
    .container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

    }

    .container1-item2 {
        border-left: none;
        width: 57%;
    }

    .container1-item1 {
        width: 50%;

    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #h2 {
        font-size: 25px;
    }

    .container2-item-left h1 {
        font-size: 30px;
    }

    .MAH h1 {
        padding-left: 98px;
    }

    .item1-margin {
        margin-left: 0px
    }

    .container2-item-right {
        flex-wrap: wrap;
        display: flex;
        padding: 0;
        align-items: center;
        gap: 68px;
        justify-content: space-around;
        padding-bottom: 20px;
    }


}

@media screen and (max-width: 710px) {
    ul img {
        display: block;
        height: 100%;
    }

    ul li a {
        display: none;

    }

    .top-logo {
        width: 100%;
    }

    .call h2 {
        font-size: 25px;
        letter-spacing: 3px;
    }

    .under-line {
        height: 2px;
        width: 100%;
    }

    .call h1 {
        font-size: 56px;
        letter-spacing: 3px;
    }

    .call h5 {
        font-size: 16px;
        letter-spacing: 2px;
    }

    .container1-item1 {
        width: 57%;
    }

}

@media screen and (max-width: 560px) {
    .poster-top h1 {
        font-size: 41px;
    }

    .poster-top h4 {
        font-size: 25px;
    }

    .poster-top h4 b {
        font-size: 35px;
    }

    .text p {
        font-size: 19px;
    }

    .info label {
        font-size: 17px;
        font-weight: 500;
    }

    .info input {
        width: 140px;
        height: 20px;
    }

    .privacy button {
        font-size: 17px;
        padding: 8px;
    }

    .privacy p {
        font-size: 20px;
    }

    .container1-item1 h1 {
        font-size: 25px;
    }

    .container1-item1 h4 {
        font-size: 18px;
    }

    .item1-p p {
        font-size: 17px;
    }

    .container1-item2-top h1 {
        font-size: 25px;
    }

    .item2-p p {
        font-size: 17px;
    }

    .container1-item2-bottom h1 {
        font-size: 25px;
    }

    .item2-bottom-p {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }

    .container1-item3 p {
        font-size: 18px;
    }

    .container2-item-left h1 {
        font-size: 22px;
    }

    .container2-item-left h1 {
        font-size: 22px;
        padding: 0;
    }

    .container2-item-mid h1 {
        font-size: 23px;
    }

    .container2-item-mid p {
        font-size: 18px;
    }

    .c2-ir-1 h1 {
        font-size: 25px;
    }

    .c2-ir-1 h1 b {
        font-size: 25px;
    }

}

@media screen and (max-width: 520px) {
    .call h2 {
        font-size: 26px;
    }

    .call h1 {
        font-size: 59px;
    }

    nav {
        height: 40px;
    }

    .poster-top h1 {
        font-size: 35px;
    }

    .poster-top h4 b {
        font-size: 32px;
    }

    .poster-top h4 {
        font-size: 20px;
    }

    .name img {
        width: 135px;
    }

    .poster textarea {
        height: 13%;
        font-size: 15px;
    }

    .privacy p {
        font-size: 17px;
    }

    .privacy button {
        font-size: 14px;
        padding: 7px;
    }

    .pic1-order-icon {
        width: 120px;
    }

    .button2 {
        width: 58%;
        margin-top: 0;
        margin-right: o;
    }

    .container2-item-left {
        width: 50%;
    }

    .avo_rating_large img {
        width: 108px;
    }

    .images-bottom h2 {
        font-size: 25px;
    }

    .last-div img {
        width: 50px;
    }

    .container2-item-mid {
        width: 90%;
        padding: 10px;
    }

    .button {
        margin-left: 0;
    }



}

@media screen and (max-width: 500px) {
        .call h2 {
        font-size: 20px;
    }
    .call h1 {
        font-size: 44px;
    }
    .call h5 {
        font-size: 14px;
    }
        .poster-top h1 {
        font-size: 30px;
    }
        .poster-top h4 {
        font-size: 18px;
    }
        .poster-top h4 b {
        font-size: 27px;
    }
        .privacy button {
        font-size: 12px;
        padding: 7px;
    }
        .container1-item1 h1 {
        font-size: 22px;
    }
        .container1-item1 h4 {
        font-size: 15px;
    }
        #img-p-board {
            margin-right: -60px;
        }
            .pic1-order-icon {
                margin-right: -60px;
            }
}